# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: nuget
    directory: /
    schedule:
      interval: weekly
    groups:
      patch:
        applies-to: version-updates
        update-types:
          - patch
      minor:
        applies-to: version-updates
        exclude-patterns:
          - Microsoft.CodeAnalysis.CSharp
          - Basic.Reference.Assemblies
        update-types:
          - minor
      major:
        applies-to: version-updates
        exclude-patterns:
          - Microsoft.CodeAnalysis.CSharp
          - Basic.Reference.Assemblies
        update-types:
          - major
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
