<header>
  <div class="grid">
    {%- if name %}
    <div>
      <h2>
        <sub>Schema</sub> {{ name }}
      </h2>
    </div>
    {%- endif -%}
    {%- if aliases %}
    <div>
      <sub>Aliases:</sub> {{ aliases | join: ", " }}
    </div>
    {%- endif -%}
  </div>
</header>
