<div>
  <sub>Type parameters:</sub>
  {%- for prm in typeParams %}
    <I>
      ${%- render "descr", name: prm.name, descr: prm.description -%}
      {%- if prm.constraint %}
        : {{ prm.constraint.name }}
      {%- endif %}
    </I>
    {%- unless forloop.last -%} , {%- endunless -%}
  {%- endfor %}
</div>
