<table>
  <thead>
    <th>Alternates</th>
    <th>Object</th>
  </thead>
  {%- for alt in alternates %}
  <tr>
    <td>{%- render "base" with alt.type as base -%}</td>
    <td>{{ alt.object }}</td>
  </tr>
  {%- endfor %}
</table>
