<section>
  {%- assign cat = category[1] %}
  {%- render 'heading', dec: cat, label: "Category" -%}
  <p>
    <sub>Output:</sub> {{ cat.output.name }} <sup> {{ cat.output.typeKind }} </sup>
  </p>
  <p>
    <sub>Resolution:</sub> {{ cat.resolution }}
  </p>
</section>