{%- if category[0] != "_tag" -%}
<section>
  {%- assign cat = category[1] %}
  <h2>
    <sub>Category</sub> {{ cat.name }}
  </h2>
  <p>
    Output: {{ cat.output.name }} <sup> {{ cat.output.typeKind }} </sup>
  </p>
  <p> Resolution: {{ cat.resolution }}</p>
</section>
{%- endif -%}