<article>
  {%- assign cat = category[1] %}
  {%- render 'heading', dec: cat, label: "Category" -%}
  <div class="grid">
    <div>
      <sub>Output:</sub> {{ cat.output.name }} <sup> {{ cat.output.typeKind }} </sup>
    </div>
    <div>
      <sub>Resolution:</sub> {{ cat.resolution }}
    </div>
  </div>
</article>