<table>
  <thead>
    <th>Item</th>
    <th>Excluded</th>
    <th>Domain</th>
  </thead>
  {%- for item in domain.allItems %}
  <tr>
    <td>{{ item }}</td>
    <td>{{ item.exclude }}</td>
    <td>{{ item.domain }}</td>
  </tr>
  {%- endfor %}
</table>