<heading>
  {%- if name %}
  <h1>
    <sub>Schema</sub> {{ name }}
  </h1>
  {%- endif -%}
  {%- if aliases %}
  <p>
    <sub>Aliases:</sub> {{ aliases | join: ", " }}
  </p>
  {%- endif -%}
</heading>
