{%- if simple.parent %}
<p>
  Parent: {{ simple.parent.name }} <sup>{{ simple.parent.typeKind }}</sup>
</p>
{% endif -%}
{%- liquid
case simple.typeKind
when "Domain"
render "domain" with simple as domain
when "Enum"
render "enum" with simple as enum
when "Union"
render "union" with simple as union
else
echo "Other Simple type: " | append: simple.typeKind
endcase %}
