details {
  padding-bottom: 1ex;
  padding-left: 2em;
}

.toc-offcanvas {
  flex: 0.2 !important;
}

.affix {
  width: auto !important;
}

@media print {
  article,
  .pdftoc {
    border-bottom: 3px dashed #999;
  }
}
