<header id="{{ label }}-{{ dec.name }}">
  <div class="grid">
    <div>
      <h3>
        <sup>{{ label }}</sup>
        {%- render "descr", name: dec.name, descr: dec.description -%}
      </h3>
    </div>
    <div>
      {%- if dec.aliases %}
      <sub>Aliases:</sub> {{ dec.aliases | join: ", " }}
      {%- endif -%}
    </div>
  </div>
</header>
