<table>
  <thead><tr>
    <th>Name</th><th class="from">Union</th>
  </tr></thead>
  {%- for item in union.allItems %}
  <tr>
    <td>
      {%- render "descr", name: item.name, descr: item.description -%}
    </td>
    <td class="from">{{ item.union }}</td>
  </tr>
  {%- endfor %}
</table>
